---
title: "'Diversity' is more than just women."
---

<h1>"Diversity" is more than just women.</h1>
<h2>Diversity is gender, gender identity and expression, sexual orientation, disability, physical appearance, socioeconomic status, body size, race, ethnicity, and/or religion, and the <a href="http://socialdifference.columbia.edu/files/socialdiff/projects/Article__Mapping_the_Margins_by_Kimblere_Crenshaw.pdf" target="_blank" class="highlight">intersection</a> of these identities and experiences.</h2>

<footer>
  <p>Simplified explanation of <strong>intersectionality</strong>: originally defined by Kimberlé Crenshaw in <em>Mapping the Margins: Intersectionality, Identity Politics, and Violence Against Women of Color</em> in the <u>Stanford Law Review</u>, it is used to describe the <u>intersection</u> of oppressions. Seriously though, <a href="http://socialdifference.columbia.edu/files/socialdiff/projects/Article__Mapping_the_Margins_by_Kimblere_Crenshaw.pdf" target="_blank">read the article</a>.</p>
</footer>